.package {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    padding: 30px;
}

.our_package{
   background:  linear-gradient(180deg, #FFFFFF 0.09%, #C9EFF1 100%);
}
.offer {
    order: 1;
}



.package-img {
    order: 2;
    width: 400px;
    border-radius: 5px;
    height: 300px;
}

@media screen and (max-width: 576px) {
    .package {
        order: 2;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .offer {
        margin-top: 10px;
        padding: 40px;
    }

    .package-img {
        order: 1;
        width: 100%;
        padding: 10px;
    }
}